extends layout

block content
  table.ui.celled.table
    thead
      tr
        th(style='width:350px') Zeit
        th(style='width:150px') Von
        th(style='width:150px') Nach
    tbody
      each val in queryResult
        tr
          td #{val.callDate}
          td #{val.fromNumber}
          td #{val.toNumber}
