doctype html
html
  head
    title Cisco Call Log
    link(href='/stylesheets/semantic.min.css', rel='stylesheet')
    link(href='/stylesheets/style.css', rel='stylesheet')
    script(src='https://code.jquery.com/jquery-3.1.1.min.js',
        integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=',
        crossorigin='anonymous'
    )
    script(src='/javascripts/semantic.min.js')
  body
    div.ui.grid
      div.three.wide.column
        include menu
      div.eleven.wide.column
        h1.ui.header(style='margin-top:10px;margin-left:10px;') Cisco Call Log
        block content
