div.ui.vertical.menu
  div.item
    div.header Anrufer extern
    div.menu
      a.item(href='/ext') Liste
      a.item(href='/perHour/ext') Pro Stunde
      a.item(href='/perWeekday/ext') Pro Wochentag
      a.item(href='/perCalWeek/ext') Pro Kalenderwoche
  div.item
    div.header Anrufer intern
    div.menu
      a.item(href='/int') Liste
      a.item(href='/perHour/int') Pro Stunde
      a.item(href='/perWeekday/int') Pro Wochentag
      a.item(href='/perCalWeek/int') Pro Kalenderwoche
  div.item
    div.header Anrufer extern &amp; intern
    div.menu
      a.item(href='/') Liste
      a.item(href='/perHour') Pro Stunde
      a.item(href='/perWeekday') Pro Wochentag
      a.item(href='/perCalWeek/') Pro Kalenderwoche
  if session && session.authenticated
    div.item
      div.header Benutzer
      div.menu
        a.item(href='/Logout') Logout
