extends layout

block content
  h2.ui.header Kalenderwoche #{week.week}/#{week.year}
  div.ui.items
    div.item
      div.extra
        a(href='/perCalWeek/' + pWeek.year + '/' + pWeek.week + '/' + filter)
          div.ui.button Vorherige
        a(href='/perCalWeek/' + nWeek.year + '/' + nWeek.week + '/' + filter)
          div.ui.right.floated.button Nächste
  table.ui.celled.table
    thead
      tr
        th(style='width:100px') Wochentag
        th(style='width:100px') Anzahl
    tbody
      each val in queryResult
        tr
          td #{weekdays[val._id - 1 ]}
          td #{val.count}
