<!DOCTYPE html>
<html>
  <head>
    <title>Cisco Call Log</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Cisco Call Log</h1>
    <%- include partial/menu.ejs %>
    <table style="text-align: left;">
     <thead>
      <tr>
       <th style="width:100px">Stunde</th>
       <th style="width:100px">Anzahl</th>
      </tr>
     </thead>
     <tbody>
      <% queryResult.forEach(function(result) { %>
        <tr>
	 <td><%= result._id %></td>
	 <td><%= result.count %></td>
        </tr>
      <% }); %>
     </tbody>
    </table>
  </body>
</html>
