extends layout

block content
  table.ui.celled.table
    thead
      tr
        th(style='width:100px') Wochentag
        th(style='width:100px') Anzahl
    tbody
      each val in queryResult
        tr
          td #{weekdays[val._id]}
          td #{val.count}
